body {
font: 10px sans-serif;
}

.x.axis path {
 display: block;
}
.line {
 fill: none;
 stroke-width: 1.5px;
}
path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
